html {
    margin: 0;
    min-height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(to bottom, #29323c, #485563);
    min-height: 100%;
    width: 100%;
    margin: 0;
}

h4 {
    color: white;
}

#explore{
    float: left;
    margin-top: 3%;
    margin-left: -5px;
    padding: 3%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url("/static/img/artist.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
    width: 80%;
}

#graph{
    float: right;
    margin-top: 3%;
    padding: 3%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url("/static/img/graph.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
    width: 80%;
}

#suggerisci{
    float: left;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: -5px;
    padding: 3%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url("/static/img/artist.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
    width: 80%;
}

p{
    color: white;
    font-size: 1.3rem;
}

.a4{
    color: #1DB954;
    font-size: 2.5rem;
    text-decoration: none;
}

#intro {
    margin: 0;
    padding: 2%;
}