<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Graph</title>
    {% include 'include.html' %}
    <link rel="stylesheet" href="{% static 'css/graph.css' %}">
    <script src="{% static 'js/graph.js' %}"></script>
</head>
<body>
<script>renderNav('graph')</script>
    <div id="main">
        <div id="pane">
            <h1 class="display-4">Insert the name of the artist you want to render</h1>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <select class="custom-select" id="type">
                        <option selected>Chose distance...</option>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='5'>5</option>
                    </select>
                </div>
                <div class="custom-file">
                    <input type="text" id="art" class="form-control">
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>

        </div>
        <script src="//d3js.org/d3.v3.min.js"></script>
        <script>drawPresentation();</script>


    </div>
    <footer class="page-footer" style="text-align: center">
            <iframe id='player' src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width='500' height='80' frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </footer>
{% include 'sidenav.html' %}

</body>
</html>