<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Graph</title>
    {% include 'include.html' %}
    <link rel="stylesheet" href="{% static 'css/graph.css' %}">
    <script src="{% static 'js/graph.js' %}"></script>
</head>
<body>
<script>renderNav('graph')</script>
    {% if request.artist %}
        <script>
            render_graph("{{ request.artist }}");
        </script>
    {% endif %}

    <div id="main">
        <div id="intro">
            <h1 class="display-4" style="font-size: 1.2rem;">
                Piccola intro che spiega cosa fa questa feature, messa qui per occupare un po di spazio nella pagina!

            </h1>
            <h1 class="display-4" style="font-size: 1.2rem;">
                magari si possono inserire foto di qualche rete sociale

            </h1>
        </div>
        <h1 class="font-weight-light" style="margin-top: 2%;">Per iniziare, inserisci il nome di un artista e il raggio del grafo!</h1>
        <div class="input-group mb-3" style="padding: 2%;">
            <div class="input-group-prepend">
                <label class="input-group-text" for="type">Radius</label>
                <select class="custom-select" id="type" style="border-color: #1DB954;">
                <option selected>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
            </select>
            </div>

            <input type="text" id="art" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="render" onclick="render_graph(null);"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="row" id="pane">
            <div class="col-lg-3" id="sidebar"></div>
            <div class="col-lg-9" id="graphDiv"></div>
        </div>
    <script src="//d3js.org/d3.v3.min.js"></script>
</body>
</html>