<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>SpotiGraph</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'include.html' %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
</head>
<body onload="render_top_artists({{ request.client }})">
{% csrf_token %}
    <input type="hidden" id="hdnSession" data-value="{{ request.session.code }}" />
    <div id="main">

        <script>renderNav('home')</script>

        <div id="pane">
            <h2 class="dashboard">Artisti Top</h2>
            <div id="artistsDiv" class="row"></div>
            <div id="tagsDiv">
                <h2>Tags</h2>
                <h2>...</h2>
                <h2>...</h2>
                <h2>Tags</h2>
                <h2>...</h2>
                <h2>...</h2>
            </div>
        </div>
    </div>
    {% include 'sidenav.html' %}


</body>
</html>