<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Scoutify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'include.html' %}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>

</head>
<body>

    <div id="main">
        <script>renderNav('home')</script>
        <div id="pane">
            <div class="row" id="intro">
                <h1 class="display-4" style="font-size: 2rem; color: white;">Scoutify ti permette di avere un interfaccia ecc..</h1>
            </div>
            <div data-aos="fade-right" data-aos-duration="700" data-aos-once="false" data-aos-easing="linear" id="explore">
                <a href="/explore" class="display-4 a4" style="text-decoration: none; color: #1DB954;">Esplora</a>
                <p style="margin-top: 3%">
                    Esplora è un'area in cui puoi scoprire gli artisti più ascoltati al momento nei vari paesi del mondo
                ricavati dalle top 50 chart di spotify</p>
                <p>Gli artisti sono accompagnati da alcune loro info come popolarità, numero di followers e generi musicali</p>
                <p>È anche possibile ascoltare un'anteprima del suo ultimo album di successo premendo l'apposito bottone e scorrendo
                le canzoni tramite il player di Spotify posto alla fine della pagina senza dover effettuare il login.</p>


            </div>
            <div data-aos="fade-left" data-aos-duration="700" data-aos-easing="linear" id="graph">
                <a href="/graph" class="display-4 a4" style="text-decoration: none; color: #1DB954;">Grafo</a>
                <p style="margin-top: 3%">
                     è una pagina in cui puoi visualizzare ed analizzare un grafo di uno specifico artista.
                    In particolare è possibile analizzare i nodi direttamente collegati a lui oppure nodi che non sono
                    direttamente collegati ma che hanno una qualche forma di correlazione.
                </p>
                <p>Anche in questa pagina è possibile visualizzare le infomazioni dei nodi (o artisti) semplicemente
                passandoci su con il puntatore del mouse, ed ascoltare il suo ultimo album di successo, oppure visualizzare
                    la pagina dell'artista direttamente su Spotify.</p>
            </div>


           <div data-aos="fade-right" data-aos-duration="700" data-aos-easing="linear" id="suggerisci">
                <a href="/recommender" class="display-4 a4" style="text-decoration: none; color: #1DB954;">Recommender</a>
                <p style="margin-top: 3%">
                    Recommender è una pagina in cui un algoritmo di intelligenza artificiale basato su dei tag, può suggerire
                    ulcuni artisti da ascoltare in base ad un set di informazioni inizali come ultime tracce ascoltate,
                    una lista di artisti o una lista di tag.
                </p>
                <p>Una volta mostrati i risultati, tramite gli appositi bottoni è possibile visualizzare la pagina dell'artista
                    su Spotify, oppure visualizzare il grafo dell'artista scelto nell'apposita pagina.
                </p>
            </div>




        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>